MainWindow
{
    background-color: #323333;
}

QLineEdit
{
    color: darkgray;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 11px;
    /*border-color: #5fafde;
    border-width: 1px;
    border-style: solid;*/
}